{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <h1 class="text-center mb-4">Sign Up</h1>
        <p class="text-center">You are about to use your {{ provider.name }} account to log in to {{ site.name }}. As a final step, please complete the following form:</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="text-center mt-4">
            <button class="btn btn-primary" type="submit">Sign Up &raquo;</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
