<!--     <div class="chat-bar-open" id="chat-open">
      <button
        id="chat-open-button"
        type="button"
        class="collapsible close"
        onclick="chatOpen()"
      >
        <div class="circular-button">
          <img src="{% static 'images/chat.gif' %}" alt="">
        </div>
      </button>
    </div>
    

    
    <div class="chat-bar-close" id="chat-close">
      <button
        id="chat-close-button"
        type="button"
        class="collapsible close"
        onclick="chatClose()"
      >
      <div class="circular-button">
        <img src="{% static 'images/escape.gif' %}" alt="">
      </div>
      </button>
    </div>

    
    <div class="chat-window" id="chat-window1">
      <div class="hi-there">
        <p class="p1">Hi There</p>
        <br />
        <p class="p2">Hello Ask Us Anythig,Share Your<br />Feedback.</p>
      </div>
      <div class="start-conversation">
        <h1>Start a Conversation</h1>
        <br />
        <p>The team typically replies in few minutes.</p>
        <button
          class="new-conversation"
          type="button"
          onclick="openConversation()"
        >
          <span>New Conversation</span
          ><i class="material-icons-outlined"> send </i>
        </button>
      </div>
    </div>

    
    <div class="chat-window2" id="chat-window2">
      <div class="message-box" id="messageBox">
        <div class="hi-there">
          <p class="p1">Hi There</p>
          <br />
          <p class="p2">The team typically replies in few minutes.</p>
        </div>
        <div class="first-chat">
          <p>Is there any offlines versions available for Maxeon Player?</p>
          <div class="arrow"></div>
        </div>
        <div class="second-chat">
          <div class="circle"></div>
          <p>Currently we don't have but we will launch soon.</p>
          <div class="arrow"></div>
        </div>
      </div>
      <div class="input-box">
        <div class="write-reply">
          <div class="field">
            <input class="inputText"
            type="text"
            id="textInput"
            name="user-message"
            placeholder="Write a reply..."
            />
            <div class="line"></div>
          </div>
        </div>
        <div class="send-button">
          <button
            type="submit"
            class="send-message"
            id="send"
            onclick="userResponse()"
            data-url = "{% url 'chat-view' %}"
          >
            <i class="material-icons-outlined"> send </i>
          </button>
        </div>
      </div>
    </div>
    <script>
      const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  </script> -->