{% extends 'base.html' %}
{% load socialaccount %}
{% provider_login_js 'github' %}
{% provider_login_js 'telegram' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-5">User Login</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex justify-content-center">
                    <h2>Login Or <a href="{% provider_login_url 'google' %}" class="">
                        <i class="fab fa-google"></i>oogle
                    </a></h2>
                </div> 
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}  <!-- Apply the crispy filter -->
                        <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Log In</button>
                        <a class="btn" href="{% provider_login_url 'github' %}">Login with Github</a>
                        <a class="btn" href="{% provider_login_url 'telegram' %}">Login with Telegram</a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
