{% extends 'base.html' %}
{% block css %}
<style>
    @media only screen and (max-width:767px){

    #signup-btn{
        display: flex;
        margin-left: -50px !important;
    }
}
</style>
  
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
                    <div class="text-center mb-4">
                        <h1 class="logotext">SignUp Form</h1>
                    </div>
            <div class="card shadow">
                <div class="card-body">
                    <form class="loginForm" name="SignForm" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email" style="background-color: var(--background);width:100%;
                            resize: vertical;
                            padding:15px;
                            border-radius:15px;
                            border:0;
                            margin-top: 40px;
                            margin-bottom: 40px;
                            box-shadow:4px 4px 10px rgba(123, 226, 255, 0.06);" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="username" placeholder="Username" name="username" style="background-color: var(--background);width:100%;
                            resize: vertical;
                            padding:15px;
                            border-radius:15px;
                            border:0;
                            margin-bottom: 40px;
                            box-shadow:4px 4px 10px rgba(123, 240, 255, 0.06);" required>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" placeholder="Password" name="password" style="background-color: var(--background);width:100%;
                                resize: vertical;
                                padding:15px;
                                border-radius:15px;
                                border:0;
                                margin-bottom: 20px;
                                box-shadow:4px 4px 10px rgba(137, 235, 255, 0.06);" required>
                                </button>
                            </div>
                        </div>
                        <div style="text-align: center;">
                            {% if error %}
                                <p class="text-danger">{{ error }}</p>
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            {% else %}
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            {% endif %}
                        </div>
                        
                        <div style="text-align: center; margin-top: 10px;">
                            <strong>Already have an account?</strong>
                            <a href="{% url 'login' %}" class="text-center" style="font-size: 1.5em;">Log in</a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

