@import url('https://fonts.googleapis.com/css?family=Courgette:700|Poppins:400');


body {
  font-family: 'Karla';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: DM Sans Variable, sans-serif;
  font-weight: 700;
}

p,a{
  font-family: "Nunito Sans";
  font-weight: 600;
}
.container{
  min-width: 100%;
}
.fs-2{
  font-size: 2.5rem;
}

:root[data-theme="light"] {
  --text: #060d09;
  --background: #f6fbf9;
  --primary: #45c482;
  --secondary: #96e6bd;
  --accent: #59e39c;
}
:root[data-theme="dark"] {
  --text: #f1f9f4;
  --background: #050b08;
  --primary: #3bba78;
  --secondary: #18673e;
  --accent: #1ca65f;
}

  
  a{
    text-decoration: none;
  }
  
.hero {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Replace with your image URL */
}

.hero-content {
    z-index: 1;
}

.cta-button:hover {
    background-color: #ff6600; /* Darker shade on hover */
}

#checkbox:checked ~ .btn-change::before {
    transition: 0.3s;
    transform: translateX(23px);
 }
 
 .btn-change {
    background-color: var(--bg-btn);
 }
 
 .btn-change::before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--btn-color);
    transition: 0.3s;
    transform: translateX(0);
 }

 .search-bar input::placeholder{
    color: var(--text-700);
 }
 #about p{
  font-size: larger;
  margin: 10px;
  font-weight: 500;
}

@media (max-width: 768px){
  #about p{
    font-size: medium;
  }
}