@import url('https://fonts.googleapis.com/css?family=Courgette:700|Poppins:400');


body {
  font-family: 'Karla';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: DM Sans Variable, sans-serif;
  font-weight: 700;
}

p,a{
  font-family: "Nunito Sans";
  font-weight: 600;
}
.container{
  min-width: 100%;
}
.fs-2{
  font-size: 2.5rem;
}

:root[data-theme="light"] {
  --text: #0a151a;
  --background: #f4fafb;
  --primary: #3cadd3;
  --secondary: #7fd0eb;
  --accent: #56caf0;
}
:root[data-theme="dark"] {
  --text: #e6f1f5;
  --background: #040a0b;
  --primary: #2c9ec3;
  --secondary: #146580;
  --accent: #0f82a9;
}


:root[data-theme="light"] {
  --text-50: #edf4f8;
  --text-100: #daeaf1;
  --text-200: #b6d4e2;
  --text-300: #91bfd4;
  --text-400: #6ca9c6;
  --text-500: #4794b8;
  --text-600: #397693;
  --text-700: #2b596e;
  --text-800: #1d3b49;
  --text-900: #0e1e25;
  --text-950: #070f12;

  --background-50: #ecf6f8;
  --background-100: #daeef1;
  --background-200: #b4dde4;
  --background-300: #8fccd6;
  --background-400: #69bbc9;
  --background-500: #44a9bb;
  --background-600: #368896;
  --background-700: #296670;
  --background-800: #1b444b;
  --background-900: #0e2225;
  --background-950: #071113;

  --primary-50: #eaf6fa;
  --primary-100: #d5eef6;
  --primary-200: #acdcec;
  --primary-300: #82cbe3;
  --primary-400: #59b9d9;
  --primary-500: #2fa8d0;
  --primary-600: #2686a6;
  --primary-700: #1c657d;
  --primary-800: #134353;
  --primary-900: #09222a;
  --primary-950: #051115;

  --secondary-50: #e9f7fc;
  --secondary-100: #d3eff8;
  --secondary-200: #a7dff1;
  --secondary-300: #7bceea;
  --secondary-400: #4fbee3;
  --secondary-500: #22aedd;
  --secondary-600: #1c8bb0;
  --secondary-700: #156884;
  --secondary-800: #0e4658;
  --secondary-900: #07232c;
  --secondary-950: #031116;

  --accent-50: #e8f8fd;
  --accent-100: #d0f0fb;
  --accent-200: #a1e1f7;
  --accent-300: #72d3f3;
  --accent-400: #43c4ef;
  --accent-500: #14b5eb;
  --accent-600: #1091bc;
  --accent-700: #0c6d8d;
  --accent-800: #08485e;
  --accent-900: #04242f;
  --accent-950: #021217;

}
:root[data-theme="dark"] {
  --text-50: #070f12;
  --text-100: #0f1f24;
  --text-200: #1d3d49;
  --text-300: #2c5c6d;
  --text-400: #3a7a92;
  --text-500: #4999b6;
  --text-600: #6dadc5;
  --text-700: #92c2d3;
  --text-800: #b6d6e2;
  --text-900: #dbebf0;
  --text-950: #edf5f8;

  --background-50: #071113;
  --background-100: #0e2225;
  --background-200: #1b444b;
  --background-300: #296670;
  --background-400: #368896;
  --background-500: #44a9bb;
  --background-600: #69bbc9;
  --background-700: #8fccd6;
  --background-800: #b4dde4;
  --background-900: #daeef1;
  --background-950: #ecf6f8;

  --primary-50: #051115;
  --primary-100: #09222a;
  --primary-200: #134353;
  --primary-300: #1c657d;
  --primary-400: #2686a6;
  --primary-500: #2fa8d0;
  --primary-600: #59b9d9;
  --primary-700: #82cbe3;
  --primary-800: #acdcec;
  --primary-900: #d5eef6;
  --primary-950: #eaf6fa;

  --secondary-50: #031116;
  --secondary-100: #07232c;
  --secondary-200: #0e4658;
  --secondary-300: #156884;
  --secondary-400: #1c8bb0;
  --secondary-500: #22aedd;
  --secondary-600: #4fbee3;
  --secondary-700: #7bceea;
  --secondary-800: #a7dff1;
  --secondary-900: #d3eff8;
  --secondary-950: #e9f7fc;

  --accent-50: #021217;
  --accent-100: #04242f;
  --accent-200: #08485e;
  --accent-300: #0c6d8d;
  --accent-400: #1091bc;
  --accent-500: #14b5eb;
  --accent-600: #43c4ef;
  --accent-700: #72d3f3;
  --accent-800: #a1e1f7;
  --accent-900: #d0f0fb;
  --accent-950: #e8f8fd;

}

  
  a{
    text-decoration: none;
  }
  
.hero {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Replace with your image URL */
}

.hero-content {
    z-index: 1;
}

.cta-button:hover {
    background-color: #ff6600; /* Darker shade on hover */
}

#checkbox:checked ~ .btn-change::before {
    transition: 0.3s;
    transform: translateX(23px);
 }
 
 .btn-change {
    background-color: var(--bg-btn);
 }
 
 .btn-change::before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--btn-color);
    transition: 0.3s;
    transform: translateX(0);
 }

 .search-bar input::placeholder{
    color: var(--text-700);
 }
 #about p{
  font-size: larger;
  margin: 10px;
  font-weight: 500;
}

@media (max-width: 768px){
  #about p{
    font-size: medium;
  }
}