{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4">
    <div class="card-body">
      <div class="text-center mb-4">
        {% if process == "connect" %}
          <h1 class="mb-3">Connect {{ provider.name }}</h1>
          <p class="text-muted">You are about to connect a new third party account from {{ provider.name }}.</p>
        {% else %}
          <h1 class="mb-3">Sign In Via {{ provider.name }}</h1>
          <p class="text-muted">You are about to sign in using a third party account from {{ provider.name }}.</p>
        {% endif %}
      </div>

      <form method="post">
        {% csrf_token %}
        <div class="text-center">
          <button class="btn btn-primary" type="submit">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
