{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XtraROMs</title>

    <!-- Google Tag Manager -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-TFKNBPWNS5"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-TFKNBPWNS5");
    </script>

    <!-- Google Sign-In Client ID -->
    <meta
      name="google-signin-client_id"
      content="181248088073-lh3mnt1d264iltq7sepgec17qu9b3d11.apps.googleusercontent.com"
    />

    <!-- Meta Description and Keywords -->
    <meta
      name="description"
      content="XtraROMs is your ultimate destination for custom ROMs, offering a wide range of custom Android ROMs for various devices. Explore the latest ROMs and enhance your Android experience."
    />
    <meta
      name="keywords"
      content="XtraROMs, custom ROMs, Android ROMs, ROM downloads, Android customization, smartphone firmware, custom firmware, Android modding, Android development, Lineage OS, Arrow OS, Evolution X, magisk, Modules, Mods, Root, Su"
    />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/logo_light.png' %}" />
    <meta property="og:image" content="{% static 'images/logo_light.png' %}" itemprop="thumbnailUrl">

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <!--Boxicon CSS-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!-- Normalize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />

    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


    <!-- AOS CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />

    <!-- Your Custom Styles -->
    <link rel="stylesheet" href="{% static 'assets-1/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'chatbot.css' %}" />
          
  {% block css %} {% endblock %} 
  </head>
  <body>
    <header class="header" id="header">
      <nav class="nav container mx-auto px-0 px-lg-4">
        <a
          class="navbar-brand"
          href="{% url 'home' %}"
          style="padding-left: 20px"
        >
          <img src="{% static 'images/logo_light.png' %}" alt="SidXFleur" />
          <b>XtraROMs</b>
        </a>
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a
                href="{% url 'home' %}"
                class="nav__link {% if request.path == '/' %}active-link{% endif %}"
              >
                <i class="bx bx-home-alt nav__icon"></i>
                <span class="nav__name"
                  ><span class="decor">< </span>Home<span class="decor">
                    /></span
                  ></span
                >
              </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav__item">
              <a
                href="{% url 'profile' %}"
                class="nav__link {% if request.path == '/profile/' %}active-link{% endif %}"
              >
                <i class="bx bx-user nav__icon"></i>
                <span class="nav__name"
                  ><span class="decor">< </span>Profile<span class="decor">
                    /></span
                  ></span
                >
              </a>
            </li>
            {% else %}
            <li class="nav__item">
              <a
                href="{% url 'login' %}"
                class="nav__link {% if request.path == '/login/' %}active-link{% endif %}"
              >
                <i class="bx bxs-receipt nav__icon"></i>
                <span class="nav__name"
                  ><span class="decor">< </span>Login<span class="decor">
                    /></span
                  ></span
                >
              </a>
            </li>
            {% endif %}
            <li class="nav__item">
              <a
                href="{% url 'custom_roms' %}"
                class="nav__link {% if request.path == '/custom_roms/' %}active-link{% endif %}"
              >
                <i class="bx bx-mobile-alt nav__icon"></i>
                <span class="nav__name"
                  ><span class="decor">< </span>Roms<span class="decor">
                    /></span
                  ></span
                >
              </a>
            </li>

            <li class="nav__item">
              <a
                href="{% url 'magisk_modules' %}"
                class="nav__link {% if request.path == '/magisk_modules/' %}active-link{% endif %}"
              >
                <i class="bx bxs-paint nav__icon"></i>
                <span class="nav__name"
                  ><span class="decor">< </span>Mods<span class="decor">
                    /></span
                  ></span
                >
              </a>
            </li>
            <li class="nav__item">
              <a
                href="{% url 'friends' %}"
                class="nav__link {% if request.path == '/friends/' %}active-link{% endif %}"
              >
                <i class="bx bx-message-square-detail nav__icon"></i>
                <span class="nav__name"
                  ><span class="decor">< </span>Friends<span class="decor">
                    /></span
                  ></span
                >
              </a>
            </li>
          </ul>
        </div>
        {% if user.is_authenticated %}
        <a class="nav__img" href="{% url 'profile' %}">
          <img
          src="{% if user_profile.profile_picture %}{{ user_profile.profile_picture.url }}{% else %}{% static 'images/peakpx.jpg' %}{% endif %}"
          alt=""
          class="nav__img"
          style="
            max-height: 35px;
            max-width: 35px;
            min-height: 35px;
            min-width: 35px;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid rgb(35, 41, 59);
          "
        /></a>
        {% endif %}
      </nav>
    </header>


    <!--------cookie collection ----------------------->

    <!-- Cookie Banner -->
    <div id="cb-cookie-banner" class="alert alert-dark mb-0" role="alert">
      &#x1F36A; This website uses cookies to ensure you get the best experience
      on our website.
      <a href="https://www.cookiesandyou.com/" target="blank">Learn more</a>
      <button
        type="button"
        class="btn btn-primary btn-sm ms-3"
        onclick="window.cb_hideCookieBanner()"
      >
        I Got It
      </button>
    </div>
    <!-- End of Cookie Banner -->

    {% block content %} {% endblock %}
    <footer class="footer text-light py-4 d-none d-md-block">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4">
            <h3 class="text-center">About Us</h3>
            <p class="text-center">
              Your one-stop destination for custom ROMs, Magisk modules, and a
              supportive community to enhance your device experience!
            </p>
          </div>
          <div class="col-md-4 mb-4">
            <h3 class="text-center">Contact Us</h3>
            <p class="text-center">Email: siddharthgreat443@gmail.com</p>
            <p class="text-center">
              <a href="{% url 'privacy-policy' %}">Privacy-Policy</a>
            </p>
          </div>
          <div class="col-md-4">
            <h3 class="text-center">Follow Us</h3>
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://telegram.me/+Z7TTTtZxvt9jZGZl" target="_blank"
                  ><i class="fab fa-telegram"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/llSiddharthll" target="_blank"
                  ><i class="fab fa-github"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="https://discord.gg/8khZkvJC" target="_blank"
                  ><i class="fab fa-discord"></i
                ></a>
              </li>
              <!-- Add more social media links/icons here -->
            </ul>
          </div>
        </div>
        <hr class="my-4" />
        <div class="row">
          <div class="col-md-12 text-center">
            <p>&copy; 2023 XtraROMs. All rights reserved.</p>
            <p>
              Made with love By Siddharth <i class="fas fa-heart"></i>
              <i class="fas fa-heart"></i>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Footer for Smaller Devices (Hidden on Larger Screens) -->
    <footer class="footer text-light py-4 d-md-none">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="text-center">Follow Us</h3>
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://telegram.me/+Z7TTTtZxvt9jZGZl" target="_blank"
                  ><i class="fab fa-telegram"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/llSiddharthll" target="_blank"
                  ><i class="fab fa-github"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="https://discord.gg/t3mvBVbr5u" target="_blank"
                  ><i class="fab fa-discord"></i
                ></a>
              </li>
              <!-- Add more social media links/icons here -->
            </ul>
          </div>
        </div>
        <hr class="my-4" />
        <div class="row">
          <div class="col-12 text-center">
            <p>&copy; 2023 XtraROMs. All rights reserved.</p>
            <p>
              Made with love By Siddharth <i class="fas fa-heart"></i>
              <i class="fas fa-heart"></i>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'chatbot.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
    <script>
      AOS.init();
    </script>

    {% block script %} {% endblock %}
  </body>
</html>
