{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="canonical" href="https://telegram.me/XtraROMsOfficial">
{% endblock %}

{% block content %}
<div class="text-center">
    <h1>XtraROMs Chatbot</h1>
</div>

<!-- Your bot response display -->
<div id="bot-response"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('chatbot-form');
        const userMessageInput = document.getElementById('user-message');
        const botResponseDiv = document.getElementById('bot-response');
    
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            const interactionType = 'user_message';
            const interactionData = userMessageInput.value;
            sendInteractionData(interactionType, interactionData);
        });
    
        function sendInteractionData(interactionType, interactionData) {
            fetch('/set-cookie/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: `interaction_type=${interactionType}&interaction_data=${encodeURIComponent(interactionData)}`,
            })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'Cookie set!') {
                    botResponseDiv.textContent = 'XtraBot: Thank you for your message!';
                    userMessageInput.value = '';  // Clear the input field
                } else {
                    botResponseDiv.textContent = 'XtraBot: An error occurred.';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                botResponseDiv.textContent = 'XtraBot: An error occurred.';
            });
        }
    
        // Function to get CSRF token cookie
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
    </script>
<script async src="https://comments.app/js/widget.js?3" data-comments-app-website="n63QwUVv" data-limit="5" data-dislikes="1" data-colorful="1" data-dark="1" data-height="500"></script>
{% endblock %}
