{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Comment Policy</h1>
          <p class="card-text">
            This is the comment policy for our website. Please read and understand the following guidelines before posting comments:
          </p>
          <ul class="list-group">
            <li class="list-group-item">Be respectful and polite towards others.</li>
            <li class="list-group-item">Avoid offensive language and hate speech.</li>
            <li class="list-group-item">Stay on-topic and relevant to the discussion.</li>
            <li class="list-group-item">Do not spam or promote unrelated content.</li>
            <li class="list-group-item">Comments that violate these guidelines may be removed.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
