{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bootstrap-iso">
  <div id="comment-sec" class="container">
    <div class="row bootstrap snippets bootdeys">
      <div class="col-md-8 col-sm-12">
        <div class="comment-wrapper">
          <div class="panel panel-info" style="display: flex; flex-direction: column;">
            <div class="panel-heading">Comments</div>
            <div class="panel-body" style="flex: 1; overflow-y: auto;">
              <ul class="media-list">
                {% for comment in data %}
                <li class="media" style="margin-bottom: -10px;">
                  <a href="#" class="pull-left">
                    <img
                      src="https://bootdey.com/img/Content/user_1.jpg"
                      alt=""
                      class="img-circle"
                      style="height: 50px;
                      width: 50px;"
                    />
                  </a>
                  <div class="media-body">
                    <span class="text-muted pull-right">
                      <small class="text-muted">{{ comment.created_at }}</small>
                    </span>
                    <strong class="text-success">{{ comment.name }}</strong>
                    <p style="color: black;">{{ comment.message }}</p>
                  </div>
                </li>
                {% endfor %}
              </ul>
              <hr />
              <div class="panel-footer" style="margin: -10px;">
              <form class="row row-cols-lg-auto align-items-center" action="{% url 'app:comment' %}" method="post" style="bottom: 0;">
                {% csrf_token %}
                <div class="col-12">
                  <div class="input-group">
                    <textarea
                    class="form-control"
                    name="Message"
                    placeholder="write a comment..."
                    rows="1"
                  ></textarea> 
                  </div>
                </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
