{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Carousel Section -->
<section id="devices" class="py-5">
  <div class="container">
      <div class="row">
          <!-- Large Display Carousels -->
          <div class="col-md-6 d-none d-md-block">
              <div id="carouselRedmi" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                      <!-- Redmi Carousel items here -->
                      <div class="carousel-item active">
                        <img
                          src="{% static 'images/Redmi-Note-11S-2.jpg' %}"
                          class="d-block w-100 custom-rom-image rounded-pill"
                          alt="Redmi Carousel 1"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          src="{% static 'images/POCO-M4-PRO-4G.png' %}"
                          class="d-block w-100 custom-rom-image rounded-pill"
                          alt="Redmi Carousel 2"
                        />
                      </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselRedmi" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselRedmi" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
          <div class="col-md-6 d-none d-md-block">
              <div id="carouselPoco" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner rounded">
                      <!-- Poco Carousel items here -->
                      <div class="carousel-item active">
                        <img
                          src="{% static 'images/Redmi-Note-11-Pro.png' %}"
                          class="d-block w-100 custom-rom-image rounded-pill"
                          alt="Poco Carousel 1"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          src="{% static 'images/REDMI-NOTE-12S.jpeg' %}"
                          class="d-block w-100 custom-rom-image rounded-pill"
                          alt="Poco Carousel 2"
                        />
                      </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPoco" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselPoco" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>

          <!-- Small Display Carousel (Mobile) -->
          <div class="col-md-6 d-md-none" style="align-items: center">
              <div id="carouselMobile" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                      <!-- Mobile Carousel items here -->
                      <div class="carousel-item active">
                        <img
                          src="{% static 'images/Redmi-Note-11S-2.jpg' %}"
                          class="d-block w-100 only-carousel-image"
                          alt="Redmi Carousel 1"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          src="{% static 'images/POCO-M4-PRO-4G.png' %}"
                          class="d-block w-100 only-carousel-image"
                          alt="Redmi Carousel 2"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          src="{% static 'images/Redmi-Note-11-Pro.png' %}"
                          class="d-block w-100 only-carousel-image"
                          alt="Redmi Carousel 1"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          src="{% static 'images/REDMI-NOTE-12S.jpeg' %}"
                          class="d-block w-100 only-carousel-image"
                          alt="Redmi Carousel 2"
                        />
                      </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselRedmi" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselRedmi" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
      </div>
  </div>
</section>


<!-- Custom ROMs Section -->
<section id="custom-roms" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="new">
          <h2>Popular Custom ROMs</h2>
          <p>Custom Roms are eazy to Digest</p>
        </div>
        <!-- Add information and links about different custom ROMs -->
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="{% static 'images/Evox.png' %}"
                class="card-img-top img-thumbnail custom-rom-image"
                alt="Custom ROM 1"
              />
              <div class="card-body">
                <h5 class="card-title">Evolution X</h5>
                <p class="card-text">
                  Evolution X is a popular custom ROM for Android devices, known
                  for its performance optimization, extensive customization
                  options. It offers a stable and feature-rich experience.
                </p>
                <a href="https://evolution-x.org/" target="_blank" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="{% static 'images/cr.png' %}"
                class="card-img-top img-thumbnail custom-rom-image"
                alt="Custom ROM 2"
              />
              <div class="card-body">
                <h5 class="card-title">CrDroid</h5>
                <p class="card-text">
                  crDroid is a feature-packed custom ROM for Android devices,
                  based on LineageOS, offering a balance between stability and
                  customization, with regular updates and excellent device
                  support.
                </p>
                <a href="https://crdroid.net/" target="_blank" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="{% static 'images/cherishos.jpg' %}"
                class="card-img-top img-thumbnail custom-rom-image"
                alt="Custom ROM 2"
              />
              <div class="card-body">
                <h5 class="card-title">Cherish OS</h5>
                <p class="card-text">
                  Cherish OS is a well-rounded custom ROM for Android devices,
                  providing a smooth and highly customizable experience, backed
                  by regular updates and a friendly community.
                </p>
                <a href="https://cherishos.com/" target="_blank" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <!-- Add more custom ROM cards here -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Magisk Modules Section -->
<section id="magisk-modules" class="py-5">
  <div class="container">
    <div id="new">
      <h2 class="text-center">Magisk Modules</h2>
      <p class="text-center">
        Enhance your Android experience with these powerful Magisk modules.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img
            src="{% static 'images/theme.jpg' %}"
            alt="Magisk Module 1"
            class="card-img-top img-thumbnail custom-mod-image"
          />
          <div class="card-body">
            <h4 class="card-title">Module 1</h4>
            <p class="card-text">
              This Magisk module change the boring xiaomi theme app to modded
              version.
            </p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img
            src="{% static 'images/system_ui.jpg' %}"
            alt="Magisk Module 2"
            class="card-img-top img-thumbnail custom-mod-image"
          />
          <div class="card-body">
            <h4 class="card-title">Module 2</h4>
            <p class="card-text">
              This Magisk module changes the boring old control center to new
              amazing one.
            </p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img
            src="{% static 'images/launcher.jpg' %}"
            alt="Magisk Module 3"
            class="card-img-top img-thumbnail custom-mod-image"
          />
          <div class="card-body">
            <h4 class="card-title">Module 3</h4>
            <p class="card-text">
              Customize your device's UI and unlock new themes with this module.
            </p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img
          src="{% static 'images/community.jpeg' %}"
          alt="Fleur Device"
          class="img-fluid rounded-circle mb-4"
        />
      </div>
      <div class="col-md-6">
        <h2 class="text-center mb-4">About Us</h2>
        <p>
          At Fleur, we are passionate about empowering users with the freedom to
          customize and optimize their devices. We provide a wide range of
          custom ROMs and Magisk modules, tailored to meet the unique needs of
          each individual.
        </p>
        <p>
          Our thriving community is always ready to offer support, guidance, and
          solutions to any questions or issues you might encounter while
          exploring the world of customization. Whether you are a seasoned
          modder or a newbie, Fleur welcomes you with open arms.
        </p>
        <p>
          Join our community today and take your device experience to new
          heights. Together, we'll unlock the full potential of your device and
          bring out its beauty, inside and out.
        </p>
        <p class="text-center">
          <a href="#" class="btn btn-primary btn-lg">Join the Community</a>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Contact Form Section -->
{% load crispy_forms_tags %}
<section id="contact" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center mb-4">Contact Us</h2>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %} {{ form|crispy }}
              <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img
          src="{% static 'images/contact_us.png' %}"
          alt="Contact Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>

{% endblock %}
