{% extends 'base.html' %} {% load static %} {% block content %}
{% block css %}

<style>

:root {
        --text: #e7f8f9;
        --background: #071b1c;
        --primary: #278f96;
        --secondary: #0a2729;
        --accent: #34c1cb;
      }

body{
  margin-top: 50px;
}
/*----------------- Credits--------------------- */
#news-slider{
    margin-top: 80px;
}
#mods-slider{
    margin-top: 80px;
}
#roms-slider{
    margin-top: 80px;
}
.post-slide{
    background: var(--secondary);
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.post-slide .post-img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: -12px 15px 8px 15px;
}
.post-slide .post-img img{
  border: none;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        height: 250px;
        /* Increase the height of the images */
        object-fit: cover;
    transform: scale(1,1);
    transition:transform 0.2s linear;
}
.post-slide:hover .post-img img{
    transform: scale(1.1,1.1);
}
.post-slide .over-layer{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
    transition:all 0.50s linear;
}
.post-slide:hover .over-layer{
    opacity:1;
    text-decoration:none;
}
.post-slide .over-layer i{
    position: relative;
    top:45%;
    text-align:center;
    display: block;
    color:var(--text);
    font-size:25px;
}
.post-slide .post-content{
    background:var(--secondary);
    padding: 2px 20px 40px;
    border-radius: 15px;
}
.post-slide .post-title a{
    font-size:15px;
    font-weight:bold;
    color:#333;
    display: inline-block;
    text-transform:uppercase;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    text-decoration: none;
    color: var(--accent);
}
.post-slide .post-description{
    line-height:24px;
    color:#b7b7b7;
    margin-bottom:25px;
    display: flex;
    justify-content: center;
}
.post-slide .post-date{
    color:#a9a9a9;
    font-size: 14px;
}
.post-slide .post-date i{
    font-size:20px;
    margin-right:8px;
    color: #CFDACE;
}
.post-slide .read-more{
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #3498db;
    color: #ffffff;
    border-radius: 25px;
    text-transform: uppercase;
}
.post-slide .read-more:hover{
    background: #3498db;
    text-decoration:none;
    color:#fff;
}

@media only screen and (max-width:1280px) {
   .post-slide .post-content{
        padding: 0px 15px 25px 15px;
    }
}
#one{
  background: url("{% static 'images/POCO-M4-PRO-4G-2.png' %}");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#two{
  background: url("{% static 'images/Redmi-Note-11S-2.jpg' %}");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#three{
  background: url("{% static 'images/pc_onyx_black.png' %}");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#four{
  background: url("{% static 'images/r9.jpg' %}");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#five{
  background: url("{% static 'images/rn11pro.jpeg' %}");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#six{
  background: url("{% static 'images/rn7s.jpg' %}");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#seven{
  background: url("{% static 'images/rn8.png' %}");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#eight{
  background: url("{% static 'images/asus.jpg' %}");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.game-section h1 {
  padding-bottom: 48px;
}
</style>
{% endblock %}

<section class="game-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
  <h1 class="text-center">XTRAROMS AVAILABLE FOR</h1>
  <div id="game" class="owl-carousel custom-carousel">
    <div id="one" class="item ">
      <div class="item-desc">
        <h3>Fleur</h3>
        <p>Performance
          Octa core (2.05 GHz, Dual Core + 2 GHz, Hexa Core)MediaTek Helio G966 GB RAM	
          Display
          6.43 inches (16.33 cm)409 PPI, AMOLED90 Hz Refresh Rate	
          Camera
          64 MP + 8 MP + 2 MP Triple Primary CamerasLED Flash16 MP Front Camera</p>
      </div>
    </div>
    <div id="two" class="item">
      <div class="item-desc">
        <h3>Miel</h3>
        <p>Performance: Octa core (2.05 GHz, Dual Core + 2 GHz, Hexa Core)MediaTek Helio G96,
          Display: 6.43 inches (16.33 cm)409 PPI, AMOLED90 Hz Refresh Rate,
          Camera: 108 + 8 + 2 + 2 MP Quad Primary CamerasLED Flash16 MP Front Camera</p>
      </div>
    </div>
    <div id="three" class="item">
      <div class="item-desc">
        <h3>Sea/Ocean</h3>
        <p>Performance: Octa core (2.05 GHz, Dual Core + 2 GHz, Hexa Core)MediaTek Helio G96,
          Display: 6.43 inches (16.33 cm)409 PPI, AMOLED90 Hz Refresh Rate,	
          Camera: 108 MP + 8 MP + 2 MP Triple Primary CamerasLED Flash16 MP Front Camera</p>
      </div>
    </div>
    <div id="four" class="item">
      <div class="item-desc">
        <h3>Blossom</h3>
        <p>Performance: Octa core (2 GHz, Quad Core + 1.5 GHz, Quad core)MediaTek Helio G252 GB RAM,
          Display: 6.53 inches (16.59 cm)269 PPI, IPS LCD,
          Camera: 13 MP Primary CameraLED Flash5 MP Front Camera</p>
      </div>
    </div>
    <div id="five" class="item">
      <div class="item-desc">
        <h3>Vida/Viva</h3>
        <p>Performance: Octa core (2.05 GHz, Dual Core + 2 GHz, Hexa Core)MediaTek Helio G966 GB RAM,	
          Display: 6.67 inches (16.94 cm)395 PPI, AMOLED120 Hz Refresh Rate,
          Camera: 108 + 8 + 2 + 2 MP Quad Primary CamerasLED Flash16 MP Front Camera</p>
      </div>
    </div>
    <div id="six" class="item" >
      <div class="item-desc">
        <h3>Lavander</h3>
        <p>Performance: Octa core (2.2 GHz, Quad Core + 1.8 GHz, Quad core)Snapdragon 6603 GB RAM	
          Display: 6.3 inches (16 cm)409 PPI, IPS LCD	
          Camera: 12 MP + 2 MP Dual Primary CamerasLED Flash13 MP Front Camera</p>
      </div>
    </div>
    <div id="seven" class="item" >
      <div class="item-desc">
        <h3>Ginkgo/Willow</h3>
        <p>Performance: Octa core (2 GHz, Quad Core + 1.8 GHz, Quad core)Snapdragon 6654 GB RAM,
          Display: 6.3 inches (16 cm)409 PPI, IPS LCD	,
          Camera: 48 + 8 + 2 + 2 MP Quad Primary CamerasDual LED Flash13 MP Front Camera</p>
      </div>
    </div>
    <div id="eight" class="item" >
      <div class="item-desc">
        <h3>X01BD</h3>
        <p>Performance: Octa core (1.95 GHz, Quad Core + 1.8 GHz, Quad core)Snapdragon 6604 GB RAM,	
          Display: 6.26 inches (15.9 cm)403 PPI, IPS LCD,
          Camera: 12 MP + 5 MP Dual Primary CamerasLED Flash13 MP Front Camera</p>
      </div>
    </div>
  </div>
  </div>
    </div>
  </div>
</section>


<!---------------------------------- Custom ROMs Section --------------------------------------------->
<section id="owl" class="roms">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">POPULAR CUSTOM ROMS & RECOVERY</h1>
      <div id="roms-slider" class="owl-carousel owl-controls owl-buttons">
        {% for rom in roms %}
        <div class="post-slide">
          <div class="post-img">
            <img src="{{rom.image.url}}" alt="">
          </div>
          <div class="post-content">
            <h3 class="post-title text-center">
              <a href="#">{{rom.name}}</a>
            </h3>
            <span class="post-date"><i class="far fa-clock"></i>{{rom.upload_date}}</span>
            <a href="{{rom.link}}" class="read-more">read more</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</section>

<!--------------------------------- Magisk Modules Section --------------------------------------------->
<section id="owl" class="mods">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">POPULAR MODS & TOOLS</h1>
      <div id="mods-slider" class="owl-carousel">
        {% for mod in mods %}
        <div class="post-slide">
          <div class="post-img">
            <img src="{{mod.image.url}}" alt="">
          </div>
          <div class="post-content">
            <h3 class="post-title text-center">
              <a href="#">{{mod.name}}</a>
            </h3>
            <span class="post-date"><i class="far fa-clock"></i>{{mod.upload_date}}</span>
            <a href="{{mod.link}}" class="read-more">read more</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</section>

<!----------------------------------About--------------------------------------------------------->
<section id="about" class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img
        src="{% static 'images/about.png' %}"
        alt="Community"
        class="img-fluid mb-4"
        />
      </div>
      <div class="col-md-6">
        <h2 class="text-center mb-4">About Us</h2>
        <p>
          Empowering users with device customization. Discover custom ROMs and Magisk modules for unique needs.
        </p>
        <p>
          Our community offers support, guidance, and solutions. Fleur welcomes modders and newbies alike.
        </p>
        <p>
          Join us today to elevate your device experience. Unleash potential and beauty, inside and out.
        </p>
        <p style="text-align: center;">
          <a href="https://telegram.me/+Z7TTTtZxvt9jZGZl" class="btn btn-primary btn-lg">Join the Community</a>
        </p>
      </div>
    </div>
  </div>
</section>


<div id="owl" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">My Helping Hands</h1>
      <div id="news-slider" class="owl-carousel">
        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'images/sid.jpg' %}" alt="">
            <a href="https://telegram.me/llSiddharthll" class="over-layer" target="_blank"><i class="fa fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title text-center">
              <a href="https://telegram.me/llSiddharthll" target="_blank">SIDDHARTH</a>
            </h3>
            <p class="post-description">Main developer 😅</p>
          </div>
        </div>
        
        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'images/nshad.jpg' %}" alt="">
            <a href="https://telegram.me/NSHAD03" class="over-layer"><i class="fa fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title text-center">
              <a href="https://telegram.me/NSHAD03" target="_blank">NSHAD03</a>
            </h3>
            <p class="post-description">theming and various frontend styles</p>
          </div>
        </div>
        
        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'images/rohit.jpg' %}" alt="">
            <a href="https://telegram.me/RT1648" class="over-layer"><i class="fas fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title text-center">
              <a href="https://telegram.me/RT1648" target="_blank">ROHIT</a>
            </h3>
            <p class="post-description">Provided ROMs for - Fleur / Miel, X01BD</p>
          </div>
        </div>

        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'images/nemix.jpg' %}" alt="">
            <a href="https://telegram.me/nem1x" class="over-layer"><i class="fas fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title text-center">
              <a href="https://telegram.me/nem1x" target="_blank">NEMIX</a>
            </h3>
            <p class="post-description">Provided ROMs for - Fleur / Miel</p>
          </div>
        </div>

        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'images/shazu.jpg' %}" alt="">
            <a href="https://t.me/ShazuxD" class="over-layer"><i class="fas fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title text-center">
              <a href="https://t.me/ShazuxD" target="_blank">SHAZU KHAN</a>
            </h3>
            <p class="post-description">Provided ROMs for - Fleur / Miel</p>
          </div>
        </div>

        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'images/emifer.jpg' %}" alt="">
            <a href="https://telegram.me/emiferpro" class="over-layer"><i class="fas fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title text-center">
              <a href="https://telegram.me/emiferpro" target="_blank">EMIFER</a>
            </h3>
            <p class="post-description">Provided ROMs for - Vida / Viva</p>
          </div>
        </div>

        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'images/fajar.jpg' %}" alt="">
            <a href="https://telegram.me/fajarIbrahim31" class="over-layer"><i class="fas fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title text-center">
              <a href="https://telegram.me/fajarIbrahim31" target="_blank">FAJAR IBRAHIM</a>
            </h3>
            <p class="post-description">Provided ROMs for - Fleur / miel</p>
          </div>
        </div>
        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'images/woome.jpg' %}" alt="">
            <a href="https://t.me/woomymy" class="over-layer"><i class="fas fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title text-center">
              <a href="https://t.me/woomymy" target="_blank">WOOMYMY</a>
            </h3>
            <p class="post-description">Provided ROMs for - Vida / Viva</p>
          </div>
        </div>
        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'images/erico.jpg' %}" alt="">
            <a href="https://t.me/Erico_Cristiant" class="over-layer"><i class="fas fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title text-center">
              <a href="https://t.me/Erico_Cristiant" target="_blank">ERICO CRISTIANT</a>
            </h3>
            <p class="post-description">Provided ROMs for - Vida / Viva</p>
          </div>
        </div>
        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'images/rnd.jpg' %}" alt="">
            <a href="https://t.me/RndwnZ" class="over-layer"><i class="fas fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title text-center">
              <a href="https://t.me/RndwnZ" target="_blank">RNDWNZ</a>
            </h3>
            <p class="post-description">Provided ROMs for - Vida / Viva</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<!-- Include jQuery from CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include Owl Carousel script from CDN -->
<script src="{% static 'owl.carousel.js' %}"></script>
<script>
  $(document).ready(function() {
    $("#news-slider").owlCarousel({
      responsiveClass:true,
    responsive:{
        0:{
            items:1,
            loop:true
        },
        550:{
            items:2,
            loop:true
        },
        800:{
            items:3,
            loop:true
        }},
      autoplay:true,
    autoplayTimeout:2000,
    autoplayHoverPause:true
    });
  });
</script>
<script>
  $(document).ready(function() {
    $("#mods-slider").owlCarousel({
      responsiveClass:true,
    responsive:{
        0:{
            items:1,
            loop:true
        },
        550:{
            items:2,
            loop:true
        },
        800:{
            items:3,
            loop:true
        }},
      autoplay:true,
    autoplayTimeout:2000,
    autoplayHoverPause:true
    });
  });
</script>
  <script>
    $(document).ready(function() {
      $("#roms-slider").owlCarousel({
        responsiveClass:true,
      responsive:{
          0:{
              items:1,
              loop:true
          },
          550:{
              items:2,
              loop:true
          },
          800:{
              items:3,
              loop:true
          }},
        autoplay:true,
      autoplayTimeout:3000,
      });
    });
  </script>


<!-- Your custom JavaScript code -->
<script>
$(document).ready(function () {
  $("#game").owlCarousel({
    autoWidth: true,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            loop:true
        },
        550:{
            items:1,
            loop:true
        },
        757:{
          items:1,
            loop:true
        },
        1000:{
          items:2,
          loop:true
        },
        1200:{
          items:3,
          loop:true
        }
      },
    loop: true,
    autoplay:true,
    autoplayTimeout:3000,
    autoplayHoverPause:true
  });
  // Add custom styles for navigation buttons
  $(".owl-nav-btn").css({
        fontSize: "24px",  // Change the color
        position: "absolute",
        top:"130px"      // Position from the top
    });
    $(".owl-prev").css({
        left: "10px"  // Position the left arrow
    });

    $(".owl-next").css({
        right: "10px" // Position the right arrow
    });

  $(".custom-carousel .item").click(function () {
    $(".custom-carousel .item").not($(this)).removeClass("active");
    $(".custom-carousel .item").not($(this)).addClass("btn")
    $(this).toggleClass("active");
  });
});
</script>
{% endblock %}