{% extends 'base.html' %} {% load static %} {% block style %}


<!-- Include Select2 CSS -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/css/select2.min.css"
  rel="stylesheet"
/>
<style>
  #jas .btn {
    background-color: var(--accent) !important;
    color: var(--background) !important;
    border: none !important;
    border-radius: 20px !important;
  }

  #searching .active {
    background: var(--secondary);
    border-color: #3b3b4f3a;
    color: #ffffff;
    font-size: 12px;
  }

  #searching .inputs {
    position: relative;
  }

  #searching .inputs .input-wrapper {
    opacity: 1;
  }

  .bg-primary {
    background-color: #3b3b4f3a;
    /* Replace with your desired color */
  }

  #searching .inputs input {
    opacity: 1;
  }

  #searching .form-control {
    text-indent: 15px;
    border: none;
    height: 45px;
    border-radius: 0px;
    border-bottom: 1px solid #eee;
  }

  #searching .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #eee;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid blue;
  }

  #searching .form-control:focus {
    color: blue;
  }

  #searching .inputs i {
    position: absolute;
    top: 14px;
    left: 4px;
    color: #b8b9bc;
  }

  .text-center {
    font-size: 3em;
    font-weight: bold;
    color: var(--text);
    background: linear-gradient(120deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media only screen and (max-width: 757px) {
    .text-center {
      font-size: 1.5em;
    }

    .button {
      width: 100%;
    }

    .side-text {
      display: none;
    }
  }
  #search-input::placeholder {
    color: var(--text); /* Replace 'your-desired-color' with the color you want */
  }
</style>
{% endblock %} {% block content %}

<div class="container py-5">
  <h1 class="text-center mb-5">Magisk Mods & Tools</h1>

  <!-- Search Bar -->
  <section id="searching">

    <div class="mt-3 inputs" style="padding-bottom: 40px">
      <div style="position: relative">
        <input
          id="search-input"
          type="text"
          class="form-control live-search"
          placeholder="Search Custom mods and Recovery..."
          style="
            padding: 1em 2em;
            border-radius: 20px;
            border: none;
            background-color: var(--secondary);
            color: var(--text);
            text-indent: 30px;
            font-weight: bolder;
            box-shadow: 5px 5px 10px black;
          "
        />
        <i
          class="fa fa-search"
          style="
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
          "
        ></i>
      </div>
    </div>
  </section>

  <div
    id="search-results"
    class="row row-cols-1 row-cols-md-3 g-4"
    style="padding-bottom: 20px"
  ></div>

  <!------------------------------------ Custom mod cards ----------------------------------------------------->


  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for mod in mods %}
    <div class="col mod-card">
      <div class="card h-100">
        <img
          src="{{ mod.image.url }}"
          class="img-thumbnail custom-mod-image"
          alt="{{ mod.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">
            {{ mod.name }} &rarr;
          </h5>
          <h5 class="card-title">Made By: <a
            href="https://telegram.me/{{mod.credits}}"
            target="_blank"
            style="text-decoration: none;color: #475e5c;"
            >@{{mod.credits}}</a></h5>
          <h5 class="card-title">Date: {{mod.upload_date}}</h5>
          <h5 class="card-title">
            Details : <a href="{% url 'mod_details' mod.id %}" style="color: #475e5c;">Visit Here</a>
          </h5>
          <div class="buttons-wrapper">
            <a
              href="{{ mod.link }}"
              target="_blank"
              class="jas btn btn-primary mod-link"
              ><i class="fas fa-download"></i
            ></a>
            <!-- Add this button within your mod card -->
            <a
              class="btn btn-primary mod-link share-button"
              data-bs-toggle="modal"
              data-bs-target="#shareModal"
              data-mod-link="{{ mod.link }}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 448 512"
              >
                <path
                  d="M352 224c53 0 96-43 96-96s-43-96-96-96s-96 43-96 96c0 4 .2 8 .7 11.9l-94.1 47C145.4 170.2 121.9 160 96 160c-53 0-96 43-96 96s43 96 96 96c25.9 0 49.4-10.2 66.6-26.9l94.1 47c-.5 3.9-.7 7.8-.7 11.9c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-25.9 0-49.4 10.2-66.6 26.9l-94.1-47c.5-3.9 .7-7.8 .7-11.9s-.2-8-.7-11.9l94.1-47C302.6 213.8 326.1 224 352 224z"
                />
              </svg>
            </a>
            {% if request.user.is_staff or request.user == mod.user %}
            <a href="{% url 'edit_mod' mod.id %}" class="jas btn btn-primary"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 512 512"
              >
                <path
                  d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"
                /></svg></a
            >{% endif %} {% if request.user.is_authenticated %}
            <button
              class="btn btn-primary mod-link like-button"
              data-mod-id="{{ mod.id }}"
            >
              <i class="far fa-thumbs-up"></i>
            </button>
            <span
              class="btn btn-primary mod-link likes-count"
              style="height: 35px; width: 35px"
            >
              {{ mod.likes.count }}
            </span>
            {% else %}
            <button
              class="btn btn-primary mod-link like-button"
              data-bs-toggle="modal"
              data-bs-target="#loginModal"
            >
              <i class="far fa-thumbs-up"></i>
            </button>
            <span
              class="btn btn-primary mod-link likes-count"
              style="height: 35px; width: 35px"
            >
              {{ mod.likes.count }}
            </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-----------------------------------Share Link Model----------------------------------------------->

  <!-- Modal for sharing options -->
  <div
  class="modal fade"
  id="shareModal"
  tabindex="-1"
  aria-labelledby="shareModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="shareModalLabel">Sharing -> {{mod.name}}</h5>
      </div>
      <div class="modal-body">
        <!-- Add sharing options here, e.g., buttons/icons for different platforms -->
        <a href="https://t.me/share/url?url=http://127.0.0.1:8000{% url 'mod_details' mod.id %}" target="_blank">
          <img src="{% static 'images/Telegram_logo.svg' %}" alt="" style="max-height: 40px; max-width: 40px;">
        </a>
        <a href="https://twitter.com/intent/tweet?url=http://127.0.0.1:8000/mod_detail/mod_details_45/" target="_blank">
          <img src="{% static 'images/twitter-icon.svg' %}" alt="" style="max-height: 40px; max-width: 40px;">
        </a>
        <!-- <a href="https://discord.com/api/share?client_id=YOUR_CLIENT_ID&redirect_uri=YOUR_REDIRECT_URI&response_type=code&scope=identify%20email%20connections&state=STATE&pmodpt=none" target="_blank">
          <img src="{% static 'images/Discord_logo.svg' %}" alt="" style="max-height: 40px; max-width: 40px;">
        </a>  --> 
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/mod_detail/mod_details_45/" target="_blank">
          <img src="{% static 'images/Facebook_icon.svg' %}" alt="" style="max-height: 40px; max-width: 40px;">
        </a>
        <a href="whatsapp://send?text=http://127.0.0.1:8000/mod_detail/mod_details_45/" target="_blank">
          <img src="{% static 'images/WhatsApp_logo.svg' %}" alt="" style="max-height: 40px; max-width: 40px;">
        </a>
              
        <!-- Add more sharing options as needed -->
      </div>
    </div>
  </div>
</div>
    {% endfor %}
  </div>



  <!----------------------------------- Login Modal -------------------------------------------------->
  <div
    class="modal fade"
    id="loginModal"
    tabindex="-1"
    aria-labelledby="loginModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login Required</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Please log in to use this feature and various other features.
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <a href="{% url 'account_login' %}" class="btn btn-primary">Log In</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Back to top button -->
<a
  id="btn-back-to-top"
  href="#"
  class="btn btn-primary back-to-top"
  role="button"
  ><i class="fas fa-chevron-up" style="margin-top: 2px;"></i
></a>
{% endblock %}

<!-----------------------------JAVASCRIP code---------------------------------------------------------->

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/js/select2.min.js"></script>
<script>
  $(document).ready(function () {
    // Initialize Select2 on the select element
    $("#device").select2({
      matcher: function (term, text, option) {
        return (
          text.toUpperCase().indexOf(term.toUpperCase()) >= 0 ||
          option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0
        );
      },
    });
  });
</script>

<!-------------------------------------Searching Content----------------------------------------------->

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.querySelector("#search-input");
    const searchButton = document.querySelector("#search-button");
    const modCards = document.querySelectorAll(".mod-card");

    searchButton.addEventListener("click", function () {
      const query = searchInput.value.toLowerCase().trim();

      modCards.forEach((card) => {
        const cardTitle = card
          .querySelector(".card-title")
          .textContent.toLowerCase();

        if (cardTitle.includes(query)) {
          card.style.display = "block";
        } else {
          card.style.display = "none";
        }
      });
    });
  });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = $("#search-input");
    const searchResults = $("#search-results");

    searchInput.on("input", function () {
      const query = $(this).val().trim();
      if (query.length >= 2) {
        fetchSearchResults(query);
      } else {
        clearSearchResults();
      }
    });

    function fetchSearchResults(query) {
      $.ajax({
        url: "{% url 'search_custom_mods' %}",
        data: { q: query },
        dataType: "json", // Expect JSON response
        success: function (data) {
          displaySearchResults(data.results); // Pass the results array
        },
        error: function () {
          console.log("An error occurred while fetching search results.");
        },
      });
    }

    function displaySearchResults(results) {
      searchResults.empty();
      if (results.length > 0) {
        const searchResults = document.getElementById("search-results"); // Replace with your actual element ID

        for (const result of results) {
          const editLink = result.is_staff
            ? `
            <a href="" class="btn btn-primary edit-link" data-mod-id="${result.id}"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg></a>
        `
            : "";

          const likeBtn = result.is_authenticated
            ? `<button class="btn btn-primary mod-link like-button" data-mod-id="${result.id}">
                <i class="far fa-thumbs-up"></i>
            </button>`
            : `<button class="btn btn-primary mod-link like-button" data-bs-toggle="modal" 
			data-bs-target="#loginModal">
                <i class="far fa-thumbs-up"></i>
            </button>`;

          const likeCnt = `
            <span class="btn btn-primary mod-link likes-count" style="border-radius: 50%;height: 35px;width: 35px;">
                ${result.likes}
            </span>`;

          const modDetails = `<h5 class="card-title">
            Details : <a href="" class="mod-details" data-mod-id="${result.id} " style="color: #475e5c;">Visit Here</a>
        </h5>`;

          const resultHtml = `
          <div class="col mod-card">
            <div class="card h-100">
              <img
                src="${result.image_url}"
                class="img-thumbnail custom-mod-image"
                alt="${result.name}"
              />
              <div class="card-body">
                <h5 class="card-title">
                  ${result.name} &rarr;
                </h5>
                <h5 class="card-title">Made By: 
                  <a
                    href="https://telegram.me/${
                                result.credits
                              }"
                    target="_blank"
                    style="color: #475e5c;"
                    >@${result.credits}</a
                  >
                </h5>
                <h5 class="card-title">
                  Date: ${ result.upload_date ? result.upload_date : "Not Provided" }
                </h5>
                ${modDetails}
                <div class="buttons-wrapper">
                  <a
                    href="${result.link}"
                    target="_blank"
                    class="btn btn-primary mod-link"
                    style="background-color: var(--accent); border: none"
                    ><i class="fas fa-download"></i
                  ></a>
                  <a
                    class="btn btn-primary mod-link share-button"
                    data-bs-toggle="modal"
                    data-bs-target="#shareModal"
                    data-mod-link="{{ mod.link }}"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="1em"
                      viewBox="0 0 448 512"
                    >
                      <path
                        d="M352 224c53 0 96-43 96-96s-43-96-96-96s-96 43-96 96c0 4 .2 8 .7 11.9l-94.1 47C145.4 170.2 121.9 160 96 160c-53 0-96 43-96 96s43 96 96 96c25.9 0 49.4-10.2 66.6-26.9l94.1 47c-.5 3.9-.7 7.8-.7 11.9c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-25.9 0-49.4 10.2-66.6 26.9l-94.1-47c.5-3.9 .7-7.8 .7-11.9s-.2-8-.7-11.9l94.1-47C302.6 213.8 326.1 224 352 224z"
                      />
                    </svg>
                  </a>
                  ${editLink} ${likeBtn} ${likeCnt}
                </div>
              </div>
            </div>
          </div>
          `;
          searchResults.innerHTML += resultHtml;
        }
      } else {
        searchResults.append("<p>No results found (Check Typos..)</p>");
      }
      $(".edit-link").click(function (e) {
        e.preventDefault();
        const modId = $(this).data("mod-id");
        const editUrl = `{% url 'edit_mod' 0 %}`.replace("0", modId);
        window.location.href = editUrl;
      });
      $(".mod-details").click(function (e) {
        e.preventDefault();
        const modId = $(this).data("mod-id");
        const editUrl = `{% url 'mod_details' 0 %}`.replace("0", modId);
        window.location.href = editUrl;
      });
    }

    function clearSearchResults() {
      searchResults.empty();
    }
  });
</script>

<!---------------------------mod likes count Script---------------------------------------------------->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $(document).on("click", ".like-button", function () {
      var modId = $(this).data("mod-id");
      var likesCountElement = $(this).siblings(".likes-count");
      var icon = $(this).find("i");

      $.ajax({
        type: "POST",
        url: window.location.href,
        data: {
          mod_id: modId,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function (data) {
          // Update the displayed likes count directly
          likesCountElement.text(data.likes);

          // Toggle the filled/empty thumbs-up icon based on the response
          if (icon.hasClass("far")) {
            icon.removeClass("far").addClass("fas");
          } else {
            icon.removeClass("fas").addClass("far");
          }
        },
      });
    });
  });
</script>

{% endblock %}
