{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 
{% block css %}
<style>
  .function br{
    display: none;
  }
  @media (max-width:728px) {
    .function br{
      display: block;
    }
    .function a{
      margin: 10px;
      font-size: 10px;
    }
  }
</style>
{% endblock %} {% block content %}
<section id="profile">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body">
            <div class="profile-picture-container text-center" id="Pic">
              <img
                src="{% if user_profile.profile_picture %}{{ user_profile.profile_picture.url }}{% else %}{% static 'images/peakpx.jpg' %}{% endif %}"
                alt="No avatar"
                class="img-fluid profile-picture img-thumbnail"
                id="new_image"
                style="max-height: 158px;
                max-width: 158px;
                min-height: 157px;
                min-width: 157px;
                object-fit: cover;
                border-radius: 50%;
                border: none;"
              />
            </div>
            <h5 class="my-3" style="display: flex;
            justify-content: center;"><b>{{request.user.username}}</b></h5>
            <p class="text-muted mb-4"></p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" id="change-image-link" class="btn btn-primary ms-1">Update Profile</button>
              <a href="{% url 'logout' %}"><button type="button" id="change-image-link" class="btn btn-primary ms-1">Logout</button></a>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class=" list-group-flush rounded-3">
              <div class=" d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">-</p>
              </div>
              <div class=" d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-github fa-lg" style="color: #333333"></i>
                <p class="mb-0">-</p>
              </div>
              <div class=" d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee"></i>
                <p class="mb-0">-</p>
              </div>
              <div class=" d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac"></i>
                <p class="mb-0">-</p>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{request.user.username}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{request.user.email}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Update</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(Site in maintainance some features might not work)</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Functionalities</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 function">
                  {% if user.is_superuser %}
                    <a class="btn btn-primary rom-link button" href="{% url 'admin:index' %}">Admin<br>Panel</a>
                    <a class="btn btn-primary rom-link button" href="{% url 'manage_user_profiles' %}">Manage<br>Users</a>
                    <a class="btn btn-primary rom-link button" data-bs-toggle="modal" data-bs-target="#uploadromModal">Upload<br>Roms</a>
                    <a class="btn btn-primary rom-link button" data-bs-toggle="modal" data-bs-target="#uploadmodModal">Upload<br>Mods</a>
                  {% elif user.is_staff %}
                    <a class="btn btn-primary rom-link button" href="{% url 'manage_user_profiles' %}">Manage<br>Users</a>
                    <a class="btn btn-primary rom-link button" data-bs-toggle="modal" data-bs-target="#uploadromModal">Upload<br>Roms</a>
                    <a class="btn btn-primary rom-link button" data-bs-toggle="modal" data-bs-target="#uploadmodModal">Upload<br>Mods</a>
                  {% elif is_validated == 'Yes' %}
                  <a class="btn btn-primary rom-link button" data-bs-toggle="modal" data-bs-target="#uploadromModal">Upload<br>Roms</a>
                  <a class="btn btn-primary rom-link button" data-bs-toggle="modal" data-bs-target="#uploadmodModal">Upload<br>Mods</a>
                  {% elif is_validated == 'No' %}
                    You are not authorized, kindly Contact Staff's to upload data
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">
                  <span class="text-primary font-italic me-1">Your Past Activity</span>
                </p>
                <p class="mb-1" style="font-size: 0.77rem">--</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 80%"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  --
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 72%"
                    aria-valuenow="72"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">--</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 89%"
                    aria-valuenow="89"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  --
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 55%"
                    aria-valuenow="55"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">--</p>
                <div class="progress rounded mb-2" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 66%"
                    aria-valuenow="66"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">
                  <span class="text-primary font-italic me-1">Liked Items</span>
                </p>
                <p class="mb-1" style="font-size: 0.77rem">--</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 80%"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  --
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 72%"
                    aria-valuenow="72"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">--</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 89%"
                    aria-valuenow="89"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  --
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 55%"
                    aria-valuenow="55"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">--</p>
                <div class="progress rounded mb-2" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 66%"
                    aria-valuenow="66"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div
    class="modal fade"
    id="uploadromModal"
    tabindex="-1"
    aria-labelledby="uploadModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Upload Custom ROM</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            {% if user.is_authenticated %} 
            {% if user.userprofile.is_authorized %}
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="device" class="form-label">Device</label>
              <select class="form-select" id="device" name="device" required>
                <option value="" selected disabled>Select a Device</option>
                <option value="Fleur / Miel">Fleur / Miel</option>
                <option value="Viva / Vida">Viva / Vida</option>
                <option value="Ocean / Sea">Ocean / Sea</option>
                <option value="Blossom">Blossom</option>
                <option value="Lavander">Lavander</option>
                <option value="Ginkgo / Willow">Ginkgo / Willow</option>
                <option value="X01BD">X01BD</option>
                <option value="Vince">Vince</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Credits</label>
              <input
                placeholder="Just write telegram username ! (no '@')"
                type="text"
                class="form-control"
                id="credits"
                name="credits"
                required
              />
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Image</label>
              <input
                type="file"
                accept="image/*"
                class="form-control"
                id="image"
                name="image"
                required
              />
            </div>
            <div class="mb-3">
              <label for="link" class="form-label">ROM / Recovery Link</label>
              <input
                type="url"
                class="form-control"
                id="link"
                name="link"
                required
              />
            </div>
            <div class="mb-3">
              <label for="link" class="form-label"
                >Boot-Img Link (optional)</label
              >
              <input
                type="url"
                class="form-control"
                id="boot_link"
                name="boot_link"
              />
              <div>
                <label for="date" class="form-label">Release Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="upload_date"
                  name="upload_date"
                  required
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="details" class="form-label">Details</label>
              <textarea
                class="form-control"
                id="details"
                name="details"
                rows="3"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
            {% else %}
            <p class="text-warning">
              You are not authorized to upload ROMs. Kindly send a request to
              Siddharth or Staff Members on telegram or by other sources to get
              authorized.
            </p>
            {% endif %} 
            {% else %}
            <p class="text-warning">Please log in to upload ROMs.</p>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="profilePictureModal" tabindex="-1" aria-labelledby="profilePictureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Update Profile</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="mb-3">
                      {{ profile_picture_form|crispy }}
                  </div>
                  <div class="mb-3">
                      {{ update_username_form|crispy }}
                  </div>
                  <div style="text-align: center;">
                      <button type="submit" class="btn btn-primary">Upload</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
  <!---------------------------------- Upload mod Modal ---------------------------------------------->

  <div
    class="modal fade"
    id="uploadmodModal"
    tabindex="-1"
    aria-labelledby="uploadModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Upload Mods & Tools</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            {% if user.is_authenticated %} 
            {% if user.userprofile.is_authorized %}
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Credits</label>
              <input
                placeholder="Just write telegram username ! (no '@')"
                type="text"
                class="form-control"
                id="credits"
                name="credits"
                required
              />
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Image</label>
              <input
                type="file"
                accept="image/*"
                class="form-control"
                id="image"
                name="image"
                required
              />
            </div>
            <div class="mb-3">
              <label for="link" class="form-label">Mod / Tool Link</label>
              <input
                type="url"
                class="form-control"
                id="link"
                name="link"
                required
              />
            </div>
              <div>
                <label for="date" class="form-label">Release Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="upload_date"
                  name="upload_date"
                  required
                />
              </div>
            <div class="mb-3">
              <label for="details" class="form-label">Details</label>
              <textarea
                class="form-control"
                id="details"
                name="details"
                rows="3"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
            {% else %}
            <p class="text-warning">
              You are not authorized to upload mods. Kindly send a request to
              Siddharth or Staff Members on telegram or by other sources to get
              authorized.
            </p>
            {% endif %} 
            {% else %}
            <p class="text-warning">Please log in to upload mods.</p>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %} {% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("#change-image-link").click(function (e) {
      e.preventDefault();
      $("#profilePictureModal").modal("show");
    });
  });
</script>
{% endblock %}
