{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 
{% block css %}
<style>
</style>
{% endblock %} {% block content %}
<section id="profile">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body">
            <div class="profile-picture-container text-center" id="Pic">
              <img
                src="{% if user_profile.profile_picture %}{{ user_profile.profile_picture.url }}{% else %}{% static 'images/peakpx.jpg' %}{% endif %}"
                alt="No avatar"
                class="img-fluid profile-picture img-thumbnail"
                id="new_image"
                style="max-height: 158px;
                max-width: 158px;
                min-height: 157px;
                min-width: 157px;
                object-fit: cover;
                border-radius: 50%;
                border: 3px solid rgb(52, 184, 147);"
              />
            </div>

            <!-- Modal -->
            <div class="modal fade" id="profilePictureModal" tabindex="-1" aria-labelledby="profilePictureModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title">Upload or Change Profile Picture</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="mb-3">
                                  {{ profile_picture_form|crispy }}
                              </div>
                              <div class="mb-3">
                                  {{ update_username_form|crispy }}
                              </div>
                              <div class="text-center">
                                  <button type="submit" class="btn btn-primary">Upload</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          
            <h5 class="my-3" style="display: flex;
            justify-content: center;"><b>{{request.user.username}}</b></h5>
            <p class="text-muted mb-4"></p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" id="change-image-link" class="btn btn-outline-primary ms-1">Update Profile</button>
              <a href="{% url 'logout' %}"><button type="button" id="change-image-link" class="btn btn-outline-primary ms-1">Logout</button></a>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class=" list-group-flush rounded-3">
              <div class=" d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">-</p>
              </div>
              <div class=" d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-github fa-lg" style="color: #333333"></i>
                <p class="mb-0">-</p>
              </div>
              <div class=" d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee"></i>
                <p class="mb-0">-</p>
              </div>
              <div class=" d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac"></i>
                <p class="mb-0">-</p>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{request.user.username}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{request.user.email}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Update</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(Site in maintainance some features might not work)</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Status</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  {% if user.is_superuser %}
                    You are the god, can do anything (<a href="{% url 'admin:index' %}">Here</a>)
                  {% elif user.is_staff %}
                    You can manage other users as well as upload data
                  {% elif user.is_authorised %}
                    You can only upload data
                  {% else %}
                    You are not authorized, kindly Contact Staff's to upload data
                  {% endif %}
                </p>
              </div>
            </div>
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">
                  <span class="text-primary font-italic me-1">Your Past Activity</span>
                </p>
                <p class="mb-1" style="font-size: 0.77rem">--</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 80%"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  --
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 72%"
                    aria-valuenow="72"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">--</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 89%"
                    aria-valuenow="89"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  --
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 55%"
                    aria-valuenow="55"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">--</p>
                <div class="progress rounded mb-2" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 66%"
                    aria-valuenow="66"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">
                  <span class="text-primary font-italic me-1">Liked Items</span>
                </p>
                <p class="mb-1" style="font-size: 0.77rem">--</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 80%"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  --
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 72%"
                    aria-valuenow="72"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">--</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 89%"
                    aria-valuenow="89"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  --
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 55%"
                    aria-valuenow="55"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">--</p>
                <div class="progress rounded mb-2" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 66%"
                    aria-valuenow="66"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("#change-image-link").click(function (e) {
      e.preventDefault();
      $("#profilePictureModal").modal("show");
    });
  });
</script>
{% endblock %}
