{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container mx-auto px-4 md:px-20 flex flex-col">
    <div class="flex justify-between items-center py-5 text-lg">
        <div class="flex gap-4">
            <div><img src="{{blog.written_by.userprofile.profile_picture.url}}" alt="" class="h-8 w-8 rounded-full object-center object-cover"></div>
            <div>
                <h3 class="text-xl font-bold">{{blog.written_by}}</h3>
            </div>
            <div>
                <small>({{blog.date}})</small>
            </div>
        </div>
        <div>
            <div>
                <h4 class="px-3 py-2 rounded-full bg-[#ffffff60] capitalize">{{blog.tag}}</h4>
            </div>
        </div>
    </div>
    <div class="text-center mb-2 text-2xl md:text-4xl font-bold tracking-tight text-[var(--text)] py-5">
        <h1 class="">{{blog.title}}</h1>
    </div>
    <div class="bg-[#ffffff30] rounded-2xl p-6 text-lg my-5">
        {{blog.description|safe}}
    </div>
</section>

{% endblock content %}